@use "base";

header {
    
    @include base.mobile {
        text-align: center;
    }

    h2 {
        text-transform: uppercase;
        font-weight: 700;
    };

    .link {
        font-family: base.$monospace;
        margin-top: -0.6rem;
        margin-bottom: 2rem;

        a, a:visited {
            color: base.$black;
            text-decoration: none;

            @include base.mobile {
                background-color: base.$teal;
                padding: 0.4rem;
                color: base.$white;
            }

            &:hover {
                color: base.$teal;
                text-decoration: underline;

                @include base.mobile {
                    background-color: base.$grey;
                    color: base.$black;
                    text-decoration: none;
                }
            }
        }
    }
}

main {
    h3 {
        text-transform: uppercase;
        font-weight: 500;
    }
    
    p, ol, ul, li {
        font-family: base.$monospace;
    }
    
    a, a:visited {
        color: base.$teal;
        text-decoration: underline;

        &:hover {
            background-color: base.$teal;
            color: base.$white;
            text-decoration: none;
        }
    }

    .redacted {
        background-color: base.$black;
        padding: 0.1rem;
    }
}

.frontpage {
    margin-top: 1rem;
    width: 75%;
    display: flex;
    gap: 1rem;

    @include base.mobile {
        width: 100%;
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    img {
        flex: 35;

        @include base.mobile {
            max-width: 350px;
            flex: 0;
        }
    }

    .info {
        flex: 65;
    }

    @include base.desktop {
        ul.socials {
            display: none;
        }
    }

    @include base.mobile {
        ul.socials {
            color: base.$black;
            background-color: base.$white;
            padding: 0.2rem 1rem;
            z-index: 100;

            a, a:visited {
                color: base.$black;

                &:hover, &:active {
                    color: base.$teal;
                }
            }
        }
    }
}

.gallery {
    width: 100%;
    margin: 2rem auto;
    display: flex;
    gap: 1rem;

    @include base.mobile {
        display: none;
    }
}