@use "base";

.cards {
    width: 75%;

    a, a:visited {
        color: base.$black;
        text-decoration: none;
    }
}

.card {
    text-align: left;
    padding: 1rem 2rem;
    margin: 1rem 0;
    background-color: base.$grey;
    font-weight: 500;

    h2 {
        font-size: 1.2rem;
        text-transform: uppercase;
    }

    &:hover {
        background-color: base.$teal;
        color: base.$white;
    }
}